<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:jaxws="http://cxf.apache.org/jaxws"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd"
  default-autowire="byName">

  <context:property-placeholder location="classpath:contactus-client.properties"/>

  <!-- Factory to create the dynamic proxy -->
  <bean id="contactUsService" class="com.enterra.contactus.ContactUsService"
    factory-bean="clientFactory" factory-method="create" />
  <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
    <property name="serviceClass" value="com.enterra.contactus.ContactUsService" />
    <property name="address" value="http://localhost:${deploy.port}/contactus" />
    <property name="serviceFactory" ref="jaxws-and-aegis-service-factory" />
  </bean>
</beans>
